<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231946857135-pgj2g94fk22dj75pf5o26pin8rc7jsh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231946857135-pgj2g94fk22dj75pf5o26pin8rc7jsh5</string>
	<key>API_KEY</key>
	<string>AIzaSyCFXYJ3i0xE5VhaxoGCxXzR36XQwC4DBss</string>
	<key>GCM_SENDER_ID</key>
	<string>231946857135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeApp</string>
	<key>PROJECT_ID</key>
	<string>store-db-7ba62</string>
	<key>STORAGE_BUCKET</key>
	<string>store-db-7ba62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231946857135:ios:f3a8830a233ac79458025a</string>
	<key>DATABASE_URL</key>
	<string>https://store-db-7ba62-default-rtdb.firebaseio.com</string>
</dict>
</plist>